	<div class="banner-with-product-area mb-30 mb-sm-10">
		<div class="container wide">
			<div class="row">
				<div class="col-lg-8 order-2">
					<div class="row">
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6"  *ngFor="let tix of tixs" >
							<div class="single-product">
								<!--=======  single product image  =======-->
								
								<div class="single-product__image">
									<a class="image-wrap" routerLink="/detail/{{tix.id}}">
										<img src="{{tix.images[0]}}" class="img-fluid" alt="">
										<!-- <img src="{{tix.images[1]}}" class="img-fluid" alt=""> -->
									</a>
			
									
									<div class="single-product__floating-badges">
										<span class="hot" *ngIf="tix.discount">-{{tix.discount}}%</span>
										<span class="onsale" *ngIf="tix.new">Nuevo</span>
									</div>

									<div class="single-product__floating-icons">		
										<!-- <span class="quickview"><a class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span> -->
									</div>
															
								</div>
								<!--=======  single product content  =======-->
						
								<div class="single-product__content">
									<div class="title">
										<h3> <a >{{tix.productName}}</a></h3>
										<a routerLink="/detail/{{tix.id}}" >Agregar al carrito</a>

									</div>
								</div>
																		
							</div>
						</div>
						<!--=======  End of single product  =======-->
					</div>
				</div>

				<div class="col-lg-4 order-1 mb-md-50 mb-sm-50">
					<!--=============================================
					=          product side  banner         =
					=============================================-->
					
					<div class="product-side-banner">
						<a  class="mb-40">
							<img src="assets/assetsprasi/images/banners/women.png" class="img-fluid" alt="">
						</a>

						<a  class="product-side-banner--link">#Ropa para DAMAS</a>

					</div>
					
					<!--=====  End of product side banner  ======-->

				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of banner with product area  ======-->

	<!--=============================================
	=            hover banner area         =
	=============================================-->
	
	<div class="hover-banner-area mb-50 mb-sm-30">
		<div class="container wide">
			<div class="row">
				<div class="col-md-6 mb-30">
					<!--=======  single banner  =======-->
					
					<div class="single-banner single-banner--hoverborder">
						<a class="banner-link" ></a>
						<img src="assets/assetsprasi/images/banners/ads1.jpg" class="img-fluid" alt="">
						<div class="banner-content banner-content--middle-white">
							<p> <span class="bold-white">10%</span> luego de tu <span class="d-block">primera compra</span></p>
						</div>
					</div>
					
					<!--=======  End of single banner  =======-->
				</div>
				<div class="col-md-6 mb-30">
					<!--=======  single banner  =======-->
					
					<div class="single-banner single-banner--hoverborder">
						<a class="banner-link" ></a>
						<img src="assets/assetsprasi/images/banners/ads2.jpg" class="img-fluid" alt="">
						<div class="banner-content banner-content--black-left">
							<p> <span class="big-text">Ropa importada</span>  <span class="small-text d-block">Envíos a bajos costo por la empresa de su preferencia</span></p>
						</div>
					</div>
					
					<!--=======  End of single banner  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of hover banner area  ======-->


	<div id="qv-1" class="cd-quick-view">
		<div class="cd-slider-wrapper">
			<ul class="cd-slider">
				<li class="selected"><img src="assets/assetsprasi/images/products/cloth-1-2-600x800.jpg" alt="Product 2"></li>
				<li><img src="assets/assetsprasi/images/products/cloth-1-1-600x800.jpg" alt="Product 1"></li>
			</ul> <!-- cd-slider -->

			<ul class="cd-slider-pagination">
				<li class="active"><a href="index.html#0">1</a></li>
				<li><a href="index.html#1">2</a></li>
			</ul> <!-- cd-slider-pagination -->

			<ul class="cd-slider-navigation">
				<li><a class="cd-prev" href="index.html#0">Prev</a></li>
				<li><a class="cd-next" href="index.html#0">Next</a></li>
			</ul> <!-- cd-slider-navigation -->
		</div> <!-- cd-slider-wrapper -->

		<div class="oripersonalshopper-item-info cd-item-info ps-scroll">

			<h2 class="item-title">High Waist Trousers</h2>
			<p class="price">
				<span class="main-price discounted">$360.00</span>
				<span class="discounted-price">$300.00</span>
			</p>
			
			<p class="description">Hurley Dry-Fit Chino Short. Men's chino short. Outseam Length: 19 Dri-FIT Technology helps keep you dry and comfortable. Made with sweat-wicking fabric. Fitted waist with belt loops. Button waist with zip fly provides a classic look and feel .</p>

			<span class="quickview-title">Quantity:</span>
			<div class="pro-qty d-inline-block mb-40">
				<input type="text" value="1">
			</div>

			<div class="add-to-cart-btn mb-25">

				<button class="oripersonalshopper-button oripersonalshopper-button--medium">add to cart</button>
			</div>

			<div class="quick-view-other-info">
				<table>
					<tr class="single-info">
						<td class="quickview-title">SKU: </td>
						<td class="quickview-value">12345</td>
					</tr>
					<tr class="single-info">
						<td class="quickview-title">Categories: </td>
						<td class="quickview-value">
							<a href="index.html#">Fashion</a>, 
							<a href="index.html#">Men</a>, 
							<a href="index.html#">Sunglasses</a> 
						</td>
					</tr>
					<tr class="single-info">
						<td class="quickview-title">Tags: </td>
						<td class="quickview-value">
							<a href="index.html#">Fashion</a>, 
							<a href="index.html#">Men</a>
						</td>
					</tr>
					<tr class="single-info">
						<td class="quickview-title">Share on: </td>
						<td class="quickview-value">
							<ul class="quickview-social-icons">
								<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="index.html#"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</td>
					</tr>
				</table>
			</div>

			
		</div> <!-- cd-item-info -->
		<a href="index.html#0" class="cd-close">Close</a>
	</div>
