	<!--=============================================
	=            banner with product area         =
	=============================================-->
	
	<div class="banner-with-product-area mb-30 mb-sm-10">
		<div class="container wide">
			<div class="row">
				<div class="col-lg-8 order-2">
					<div class="row">
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
								<div class="single-product">
								<!--=======  single product image  =======-->
								
								<div class="single-product__image">
									<a class="image-wrap" href="shop-product-basic.html">
										<img src="assets/assetsprasi/images/products/high-waist-trousers-1-600x800.jpg" class="img-fluid" alt="">
										<img src="assets/assetsprasi/images/products/high-waist-trousers-2-600x800.jpg" class="img-fluid" alt="">
									</a>
			
									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>
									
									<div class="single-product__floating-icons">
										<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
			
										<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
			
										<span class="quickview"><a class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
									</div>
			
									
								</div>
								
								<!--=======  End of single product image  =======-->
			
								<!--=======  single product content  =======-->
						
								<div class="single-product__content">
										<div class="single-product__variations">
											<div class="size-container mb-5">
												<span class="size">L</span>
												<span class="size">M</span>
												<span class="size">S</span>
												<span class="size">XS</span>
											</div>
											<div class="color-container">
												<span class="black"></span>
												<span class="blue"></span>
												<span class="yellow"></span>
											</div>
											<!-- <a href="#" class="clear-link">clear</a> -->
										</div>
									<div class="title">
										<h3> <a href="shop-product-basic.html">High-waist Trousers</a></h3>
										<a href="index.html#">Select options</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
								
								<!--=======  End of single product content  =======-->
								</div>
						</div>
						<!--=======  End of single product  =======-->
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/modern-loafer-patent-1-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/modern-loafer-patent-2-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
									<span class="onsale">-5%</span>
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a  class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html">Modern loafer</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price discounted">$100.00</span>
									<span class="discounted-price">$80.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/skinny-jean-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/skinny-jean-2-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
									<span class="onsale">-15%</span>
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a  class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html">Skiny jeans</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price discounted">$400.00</span>
									<span class="discounted-price">$380.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->	
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/watch-1-1-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/watch-1-2-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
									<span class="onsale">-10%</span>
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a class="cd-trigger" href="#qv-1" data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html">Light Brown Watch</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price">$130.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/watch-2-1-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/watch-2-2-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
									<span class="hot">hot</span>
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html">Dark Gray Watch</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price discounted">$260.00</span>
									<span class="discounted-price">$230.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/watch-3-1-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/watch-3-2-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a  class="cd-trigger" href="#qv-1" data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html"> Dark Brown Watch</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price discounted">$120.00</span>
									<span class="discounted-price">$100.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
							
					</div>
				</div>

				<div class="col-lg-4 order-1 mb-md-50 mb-sm-50">
					<!--=============================================
					=          product side  banner         =
					=============================================-->
					
					<div class="product-side-banner">
						<a href="shop-left-sidebar.html" class="mb-40">
							<img src="assets/assetsprasi/images/banners/women.png" class="img-fluid" alt="">
						</a>

						<a href="shop-left-sidebar.html" class="product-side-banner--link">#women</a>

					</div>
					
					<!--=====  End of product side banner  ======-->

				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of banner with product area  ======-->

	<!--=============================================
	=            hover banner area         =
	=============================================-->
	
	<div class="hover-banner-area mb-50 mb-sm-30">
		<div class="container wide">
			<div class="row">
				<div class="col-md-6 mb-30">
					<!--=======  single banner  =======-->
					
					<div class="single-banner single-banner--hoverborder">
						<a class="banner-link" href="shop-left-sidebar.html"></a>
						<img src="assets/assetsprasi/images/banners/ads1.jpg" class="img-fluid" alt="">
						<div class="banner-content banner-content--middle-white">
							<p> <span class="bold-white">10%</span> off your <span class="d-block">next purchase</span></p>
						</div>
					</div>
					
					<!--=======  End of single banner  =======-->
				</div>
				<div class="col-md-6 mb-30">
					<!--=======  single banner  =======-->
					
					<div class="single-banner single-banner--hoverborder">
						<a class="banner-link" href="shop-left-sidebar.html"></a>
						<img src="assets/assetsprasi/images/banners/ads2.jpg" class="img-fluid" alt="">
						<div class="banner-content banner-content--black-left">
							<p> <span class="big-text">Free shipping</span>  <span class="small-text d-block">Free shipping on domestic orders</span></p>
						</div>
					</div>
					
					<!--=======  End of single banner  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of hover banner area  ======-->

	<!--=============================================
	=            banner with product area         =
	=============================================-->
	
	<div class="banner-with-product-area">
		<div class="container wide">
			<div class="row">
				<div class="col-lg-8 order-2 order-lg-1">
					<div class="row">
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
								<div class="single-product">
								<!--=======  single product image  =======-->
								
								<div class="single-product__image">
									<a class="image-wrap" href="shop-product-basic.html">
										<img src="assets/assetsprasi/images/products/cloth-1-1-600x800.jpg" class="img-fluid" alt="">
										<img src="assets/assetsprasi/images/products/cloth-1-2-600x800.jpg" class="img-fluid" alt="">
									</a>
			
									<div class="single-product__floating-badges">
										<span class="onsale">-10%</span>
										<span class="hot">hot</span>
									</div>
									
									<div class="single-product__floating-icons">
										<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
			
										<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
			
										<span class="quickview"><a class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
									</div>
			
									
								</div>
								
								<!--=======  End of single product image  =======-->
			
								<!--=======  single product content  =======-->
						
								<div class="single-product__content">
										<div class="single-product__variations">
											<div class="size-container mb-5">
												<span class="size">L</span>
												<span class="size">M</span>
												<span class="size">S</span>
												<span class="size">XS</span>
											</div>
											<div class="color-container">
												<span class="black"></span>
												<span class="blue"></span>
												<span class="yellow"></span>
											</div>
											<!-- <a href="#" class="clear-link">clear</a> -->
										</div>
									<div class="title">
										<h3> <a href="shop-product-basic.html">High-waist Trousers</a></h3>
										<a href="index.html#">Select options</a>
									</div>
									<div class="price">
										<span class="main-price discounted">$160.00</span>
										<span class="discounted-price">$180.00</span>
									</div>
								</div>
								
								<!--=======  End of single product content  =======-->
								</div>
						</div>
						<!--=======  End of single product  =======-->
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/pique-polo-1-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/pique-polo-3-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
									<span class="onsale">-5%</span>
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a  class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html">Polo Shirt</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price discounted">$100.00</span>
									<span class="discounted-price">$80.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/sunglass-1-600x800.png" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/sunglass-2-600x800.png" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
									<span class="onsale">-15%</span>
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a  class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html">Black Sunglass</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price discounted">$400.00</span>
									<span class="discounted-price">$380.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->	
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/watch-1-1-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/watch-1-2-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
									<span class="onsale">-10%</span>
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a class="cd-trigger" href="#qv-1" data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html">Light Brown Watch</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price">$130.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/watch-2-1-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/watch-2-2-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
									<span class="hot">hot</span>
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a class="cd-trigger" href="#qv-1"  data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html">Dark Gray Watch</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price discounted">$260.00</span>
									<span class="discounted-price">$230.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
						
						<!--=======  single product  =======-->
						<div class="col-lg-4 col-md-6 col-sm-6 mb-45 col-xs-6">
							<div class="single-product">
							<!--=======  single product image  =======-->
							
							<div class="single-product__image">
								<a class="image-wrap" href="shop-product-basic.html">
									<img src="assets/assetsprasi/images/products/watch-3-1-600x800.jpg" class="img-fluid" alt="">
									<img src="assets/assetsprasi/images/products/watch-3-2-600x800.jpg" class="img-fluid" alt="">
								</a>
		
								<div class="single-product__floating-badges">
								</div>
								
								<div class="single-product__floating-icons">
									<span class="wishlist"><a href="index.html#" data-tippy="Add to wishlist" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-android-favorite-outline"></i></a></span>
									<span class="compare"><a href="index.html#" data-tippy="Compare" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left" ><i class="ion-ios-shuffle-strong"></i></a></span>
									<span class="quickview"><a  class="cd-trigger" href="#qv-1" data-tippy="Quick View" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" data-tippy-placement = "left"  ><i class="ion-ios-search-strong"></i></a></span>
								</div>
							</div>
							
							<!--=======  End of single product image  =======-->
		
							<!--=======  single product content  =======-->
					
							<div class="single-product__content">
								<div class="title">
									<h3> <a href="shop-product-basic.html"> Dark Brown Watch</a></h3>
									<a href="index.html#">Add to cart</a>
								</div>
								<div class="price">
									<span class="main-price discounted">$120.00</span>
									<span class="discounted-price">$100.00</span>
								</div>
							</div>
							
							<!--=======  End of single product content  =======-->
							</div>
						</div>
						<!--=======  End of single product  =======-->
							
					</div>
				</div>

				<div class="col-lg-4 order-1 order-lg-2 mb-md-50 mb-sm-50">
					<!--=============================================
					=          product side  banner         =
					=============================================-->
					
					<div class="product-side-banner">
						<a href="shop-left-sidebar.html" class="mb-40">
							<img src="assets/assetsprasi/images/banners/men.png" class="img-fluid" alt="">
						</a>

						<a href="shop-left-sidebar.html" class="product-side-banner--link">#men</a>

					</div>
					
					<!--=====  End of product side banner  ======-->

				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of banner with product area  ======-->