	<!--=============================================
	=            footer banner section area        =
	=============================================-->
	
	<div class="footer-banner-section-area mb-80 mb-sm-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<!--=======  ad section  =======-->
					
					<div class="footer-banner-section footer-banner-section--special-home text-center">
						<!--=======  ad section image  =======-->
						
						<div class="footer-banner-section-image mb-35">
							<img src="assets/assetsprasi/images/banners/ads.jpg" class="img-fluid" alt="">
						</div>
						
						<!--=======  End of ad section image  =======-->

						<!--=======  ad tags  =======-->
						
						<div class="footer-banner-tags mb-35">
							<ul>
								<li><a href="index.html#">#lookbook</a></li>
								<li><a href="index.html#">#bags</a></li>
								<li><a href="index.html#">#sale</a></li>
							</ul>
						</div>
						
						<!--=======  End of ad tags  =======-->

						<!--=======  footer-banner-content  =======-->
						
						<div class="footer-banner-content">
							<h2 class="mb-30">Up To 40% Off Final Sale Items. Caught in the moment!</h2>
							<a href="shop-left-sidebar.html" class="oripersonalshopper-button oripersonalshopper-button--medium">shop now</a>
						</div>
						
						<!--=======  End of footer-banner-content  =======-->
					</div>
					
					<!--=======  End of ad section  =======-->

				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of footer banner section area ======-->

	<!--=============================================
	=            footer three         =
	=============================================-->
	
	<div class="footer footer--three pt-90 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12 footer-single-widget mb-md-50 mb-sm-50">
					<!--=======  footer navigation  =======-->
					
					<div class="footer-nav-container footer-nav-container--horizontal mb-20">
						<nav>
							<ul>
								<li><a href="index.html#">ABOUT US</a></li>
								<li><a href="index.html#">STORE LOCATION</a></li>
								<li><a href="index.html#">CONTACT</a></li>
								<li><a href="index.html#">SUPPORT</a></li>
								<li><a href="index.html#">POLICY</a></li>
								<li><a href="index.html#">FAQS</a></li>
							</ul>
						</nav>
					</div>
					
					<!--=======  End of footer navigation  =======-->

					<!--=======  copyright text  =======-->
					
					<div class="footer__copyright-text">
						<p>&copy; 2020 <a href="http://juniormarquez.com.ve" target="_blank">Junior Marquez</a>   All Rights Reserved | <span>(+00) 123 567990</span> | contact@dclothe.com</p>
					</div>
					
					<!--=======  End of copyright text  =======-->
				</div>
				<div class="col-lg-3 col-md-12 footer-single-widget text-left text-lg-right">

					<!--=======  social icons  =======-->
					
					<div class="social-icons--footer mb-20">
						<ul>
							<li><a href="https://www.twitter.com/" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder"  target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/" data-tippy="Instagram" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.youtube.com/" data-tippy="Youtube" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
						</ul>
					</div>
					
					<!--=======  End of social icons  =======-->

					<!--=======  payment icon  =======-->
					
					<div class="payment-icon">
						<img src="assets/assetsprasi/images/icons/pay.png" class="img-fluid" alt="">
					</div>
					
					<!--=======  End of payment icon  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of footer three  ======-->