	<!--=============================================
	=            footer banner section area        =
	=============================================-->
	
	<div class="footer-banner-section-area mb-80 mb-sm-60" [hidden]="router.url.includes('/detail') || router.url.includes('/blog') || router.url.includes('/shop') || router.url.includes('/cart') || router.url.includes('/post')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
				
					
					<div class="footer-banner-section footer-banner-section--special-home text-center">
				
						
						<div class="footer-banner-section-image mb-35">
							<img src="assets/assetsprasi/images/banners/ads.jpg" class="img-fluid" alt="">
						</div>
						
					
						
						<div class="footer-banner-tags mb-35">
							<ul>
								<li><a routerLink="/shop">#bolsos</a></li>
								<li><a routerLink="/shop">#accesorios</a></li>
					
							</ul>
						</div>
						
					
						<div class="footer-banner-content">
							<h2 class="mb-30">Envios a Venezuela y Colombia</h2>
							<a routerLink="/shop" class="oripersonalshopper-button oripersonalshopper-button--medium">Ver más</a>
						</div>
						
					
					</div>
					
					

				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of footer banner section area ======-->

	<!--=============================================
	=            footer three         =
	=============================================-->
	
	<div class="footer footer--three pt-90 pb-100" [hidden]="router.url.includes('/detail') || router.url.includes('/blog') || router.url.includes('/shop') || router.url.includes('/cart') || router.url.includes('/cart') || router.url.includes('/post')">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12 footer-single-widget mb-md-50 mb-sm-50">
					<!--=======  footer navigation  =======-->
					
					<div class="footer-nav-container footer-nav-container--horizontal mb-20">
					<!-- 	<nav>
							<ul>
								<li><a >ABOUT US</a></li>
								<li><a >STORE LOCATION</a></li>
								<li><a >CONTACT</a></li>
								<li><a >SUPPORT</a></li>
								<li><a >POLICY</a></li>
								<li><a >FAQS</a></li>
							</ul>
						</nav> -->
					</div>
					
					<!--=======  End of footer navigation  =======-->

					<!--=======  copyright text  =======-->
					
					<div class="footer__copyright-text">
						<p>&copy; 2021  Dclothe by
							<a href="https://www.buckapi.com" target="_blank">Buckapi</a>   All Rights Reserved | 
							<a href="tel:12019211311">
								<span style="color: #000;">(+1) 20 192 11311</span>
							</a> | 
							<a href="mailto:ventasdclothe@gmail.com">
								<span  style="color: #000;">ventasdclothe@gmail.com</span>
							</a>
						</p>
					</div>
					
					<!--=======  End of copyright text  =======-->
				</div>
				<div class="col-lg-3 col-md-12 footer-single-widget text-left text-lg-right">

					<!--=======  social icons  =======-->
					
					<div class="social-icons--footer mb-20">
						<ul>
		
							<li><a href="https://www.facebook.com/" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder"  target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/" data-tippy="Instagram" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" target="_blank"><i class="fa fa-instagram"></i></a></li>
							
						</ul>
					</div>
					
					<!--=======  End of social icons  =======-->

					<!--=======  payment icon  =======-->
					
					<div class="payment-icon">
					<!-- 	<img src="assets/assetsprasi/images/icons/pay.png" class="img-fluid" alt=""> -->
					</div>
					
					<!--=======  End of payment icon  =======-->
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of footer three  ======-->