	<!--=============================================
	=            footer banner section area        =
	=============================================-->
	
	<div class="footer-banner-section-area mb-80 mb-sm-60" [hidden]="router.url.includes('/detail') || router.url.includes('/blog') || router.url.includes('/shop') || router.url.includes('/cart') || router.url.includes('/post')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
				
					
					<div class="footer-banner-section footer-banner-section--special-home text-center">
				
						
						<div class="footer-banner-section-image mb-35">
							<img src="assets/assetsprasi/images/banners/ads.jpg" class="img-fluid" alt="">
						</div>
						
					
						
						<div class="footer-banner-tags mb-35">
							<ul>
								<li><a routerLink="/shop">#Pantalones</a></li>
								<li><a routerLink="/shop">#Blusas</a></li>
								<li><a routerLink="/shop">#Sweters</a></li>
								<li><a routerLink="/shop">#Setdeportivos</a></li>
							</ul>
						</div>
						
					
						<div class="footer-banner-content">
							<h2 class="mb-30">Envíos a toda Venezuela</h2>
							<a routerLink="/shop" class="oripersonalshopper-button oripersonalshopper-button--medium">Ver más</a>
						</div>
						
					
					</div>
					
					

				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of footer banner section area ======-->

	<!--=============================================
	=            footer three         =
	=============================================-->
	
	<div class="footer footer--three pt-90 pb-100" [hidden]="router.url.includes('/detail') || router.url.includes('/blog') || router.url.includes('/shop') || router.url.includes('/cart') || router.url.includes('/cart') || router.url.includes('/post')">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6 col-md-6 footer-single-widget mb-md-50 mb-sm-50">
					<div class="footer-nav-container footer-nav-container--horizontal mb-20">
						<nav>
							<h2>Contáctanos a los siguientes enlaces</h2>
							<ul>
								<li> <a href="tel:+5804126861218">
									<span style="color: #000;">(+58) 0412 6861218 </span> 
									</a>
								</li>
								<li>
									<a href="tel:+5804147597192">
										<span style="color: #000;">(+58) 0414 7597192  </span>
									</a> 
								</li> 
								<li>
								<a href="mailto:mentamarvzla@gmail.com">
									<span  style="color: #000;">mentamarvzla@gmail.com</span>
								</a>	
								</li>
								
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 footer-single-widget text-center text-lg-center">

					<!--=======  social icons  =======-->
					
					<div class="social-icons--footer mb-20">
						<h2>Síguenos</h2>
						<ul>
		
							<li><a href="https://www.facebook.com/Mentamarvzla-106584798177206" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder"  target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/mentamarvzla/" data-tippy="Instagram" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" target="_blank"><i class="fa fa-instagram"></i></a></li>

							
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 footer-single-widget text-left text-lg-right">
					<h2>Aceptamos </h2>
					<div class="payment-icon">
						<img src="assets/assetsprasi/images/icons/pay.png" class="img-fluid" alt="">
					</div>
				</div>

				<div class="col-lg-12 col-md-12 footer-single-widget mb-md-50 mb-sm-50 text-center">
					<!--=======  footer navigation  =======-->
					<div class="footer__copyright-text">
						<p>&copy; 2021  Menta Mar Vzla. Todos los derehos reservados | Diseñado y desarrollado por
							<a href="https://www.buckapi.com" target="_blank">Buckapi </a> 
							
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--=====  End of footer three  ======-->