   
    <div class="blog-page-wrapper mb-100">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-12 order-1">
                    <div class="row">
                        
                        <div class="col-md-4 mb-60" *ngFor="let post of posts" routerLink="/post/{{post.id}}">
                            <div class="single-slider-post">
                                <!--=======  image  =======-->
                                
                                <div class="single-slider-post__image mb-30">
                                    <a >
                                        <img src="{{post.images[0]}}" class="img-fluid" alt="">
                                    </a>
                                </div>
                                
                                <!--=======  End of image  =======-->

                                <!--=======  content  =======-->
                                
                                <div class="single-slider-post__content">
                                    <div class="post-date">
                                        <i class="ion-android-calendar"></i>
                                        <!-- <a > dec 10, 2020</a> -->
                                    </div>
                                    <h2 class="post-title"><a >{{post.tittle}}
                                    </a></h2>
                                    <p class="post-excerpt">{{post.description  | slice:0:276}} ...</p>
                                    <a  class="blog-readmore-btn">leer mas</a>
                                </div>                                
                                <!--=======  End of content  =======-->
                            </div>
                        </div>                
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <!--=======  pagination  =======-->
                            <div class="pagination text-center">
                                <ul>
                                    <li class="active"><a >1</a></li>
                                </ul>
                            </div>                            
                            <!--=======  End of pagination  =======-->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <!--=====  End of blog page wrapper  ======-->